*{
   margin: 0%;
   padding: 0%;
}
html, body{
   height: 100%;
}

/* navbar */
.nav-active.active{
   font-weight:bold;
}

/* media quries */
@media screen and (max-width: 575px){
     .prodName{
        font-size: 10px;
        
     }
     .prodCard{
        margin-top: 8px ;
     }
}

@media screen and (min-width: 576px){
    .prodName{
       font-size: 10px;
      
    }
    .prodCard{
        margin-top: 14px ;
     }
}

@media screen and (min-width: 768px){
    .prodName{
       font-size: 12px;
    }
    .prodCard{
        margin-top: 18px ;
     }
}

@media screen and (min-width: 1200px){
    .prodName{
       font-size: 16px;
    }
    .prodCard{
        margin-top: 24px ;
     }
}